.greenOk{
    border-width: 5px;
    border-color: green;
    border-style: solid;
    border-radius: 3px;
}

.redWrong{
    border-width: 5px;
    border-color: red;
    border-style: solid;
    border-radius: 3px;
}