.FactFinal{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.styleFinalMessage{
    color: white;
    background-color:darkcyan;
    border-color: aqua;
    border-width: 2px;
    border-style: groove;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greenOk{
    border-width: 5px;
    border-color: green;
    border-style: solid;
    border-radius: 3px;
}

.redWrong{
    border-width: 5px;
    border-color: red;
    border-style: solid;
    border-radius: 3px;
}

b{
    color: coral;
}