.CardList{
    min-width: 20rem;
    min-height: 35vh;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.7);
    border-color: cadetblue;
    border-width: 2px;
    border-style: groove;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.CardList > * {
    margin: 0.5rem;

}

.ImagenIndividualList{
    max-width: 20vw;
    max-height: 20vh;
}

.DetailBoton{
    background-color:cadetblue;
    color: white;
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    margin: 5px;
    padding: 0.5rem;
}