
.NavBar{
    width: 100vw;
    height: 10vh;
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.title{
    color: darkred;
    text-shadow: -7px 6px 12px black;
    text-decoration: wavy;
}

.botonMenu{
    border-width: 2px;
    border-color: azure;
    border-style: groove;
    border-radius: 30px;
}

.botonMenu:hover{
    background-color:salmon;
    border-color:khaki;
    color: white;
}